<%= render "shared/header" %>

<%# 検索フォーム %>
<div class="main-contents">
  <div class="search-contents">
    <h1 class="accent-search">アクセント検索</h1>
    <%= form_with(url: search_accents_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "調べたい単語を入力", class: "word-form" %>
      <%= f.submit "検索", class: "search-button" %>
    <% end %>
  </div>

  <%# 中央広告部分 %>
  <div class="app-intro">
    <div class="app-intro-left">
      <p class='service-explain'>
        アプリで簡単検索
      </p>
      <p class='service-explain'>
        単語登録もできる！
      </p>
    </div>
    <div class="app-intro-right">
      <p class='service-title'>
        Accent辞典
      </p>
      <div class='store-btn'>
        <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
        <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
      </div>
    </div>
  </div>
  
  <%# 新着ワード %>
  <div class="bottom-contents">
    <div class="hot-word">
      <h1>新着ワード</h1>
      <ul class="word-lists">
        <% @accents.each do |accent| %>
          <li class="word-list"><%= link_to "#{accent.word}", accent_path(accent) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <%# 単語登録ボタン %>
    <%= link_to(new_accent_path, class: 'subscribe-btn') do %>
      <span class='subscribe-btn-text'>単語登録する</span>
    <!-- <%= image_tag 'icon_subscribe.png' , size: '120x120' ,class: "subscribe-btn-icon" %>-->
    <% end %>
</div>