<%= render "shared/header" %>

<div class="show-contents">
  
  <div class="show-main-contents">
    <div class="word">
      <div class="show-word-pattern">
        <%= @accent.part_of_speech.name %>
      </div>
      <div class="show-accent-word">
      <!-- 登録された情報によってアクセントの下り目の位置を決める -->
        <% if @accent.accent_pattern_id == 2 %>
          <%= @accent.word_kana.insert( 1, '＼') %>
        <% elsif @accent.accent_pattern_id == 3 %>
          <%= @accent.word_kana.insert( @accent.beat_count_id, '＼') %>
        <% elsif @accent.accent_pattern_id == 4 %>
          <%= @accent.word_kana.insert( @accent.word_kana.length, '＼') %>
        <% elsif @accent.accent_pattern_id == 5 %>
          <%= @accent.word_kana.insert( @accent.word_kana.length, '￣')%>
        <% end %>
      <!-- /登録された情報によってアクセントの下り目の位置を決める -->
        <% if user_signed_in? && current_user.id == @accent.user_id %>
          <%= link_to "編集", edit_accent_path(@accent), class: "edit-btn" %>
        <% end %>
        <!--<span class="report-btn">通報</span>-->
      </div>
      <div class="show-word">
        （<%= @accent.word %>）
      </div>
    </div>
  
    <div class="show-accent">
      <div class="show-accent-title">
        アクセントの型
      </div>
      <div class="accent-pattern">
        <%= @accent.accent_pattern.name%>
      </div>
    </div>

    <div class="show-info">
      <div class="show-info-title">
        情報源
      </div>
      <div class="info">
        <%= @accent.info %>
      </div>
    </div>

    <div class="use-examle"><%# ←このクラス必要ない？ %>
      <div class="use-example-pattern">
        他の使用例
      </div>
      <ul class="pattern-lists">
        <li class="pattern-list", id="atamadaka-<%= @accent.id %>">
          <%# 非同期通信用のrender %>
          <%#= render partial: "atamadakas/atamadaka", locals: { accent: @accent, atamadakas: @atamadakas } %>
          <% if user_signed_in? %>
            <% if current_user.already_atamadaka?(@accent) %>
              <%= link_to '頭高型', accent_atamadaka_path(@accent), method: :delete %>
            <% else %>
              <%= link_to '頭高型', accent_atamadakas_path(@accent), method: :post %>
            <% end %>
            <%= @accent.atamadakas.count %>
          <% else %>
            頭高型 <%= @accent.atamadakas.count%>
          <% end %>
        </li>
        <li class="pattern-list">
          <% if user_signed_in? %>
            <% if current_user.already_nakadaka?(@accent) %>
              <%= link_to '中高型', accent_nakadaka_path(@accent), method: :delete %>
            <% else %>
              <%= link_to '中高型', accent_nakadakas_path(@accent), method: :post %>
            <% end %>
            <%= @accent.nakadakas.count %>
          <% else %>
            中高型 <%= @accent.nakadakas.count%>
          <% end %>
        </li>
        <li class="pattern-list">
          <% if user_signed_in? %>
            <% if current_user.already_odaka?(@accent) %>
              <%= link_to '尾高型', accent_odaka_path(@accent), method: :delete %>
            <% else %>
              <%= link_to '尾高型', accent_odakas_path(@accent), method: :post %>
            <% end %>
            <%= @accent.odakas.count %>
          <% else %>
            尾高型 <%= @accent.odakas.count%>
          <% end %>
        </li>
        <li class="pattern-list">
          <% if user_signed_in? %>
            <% if current_user.already_heiban?(@accent) %>
              <%= link_to '平板型', accent_heiban_path(@accent), method: :delete %>
            <% else %>
              <%= link_to '平板型', accent_heibans_path(@accent), method: :post %>
            <% end %>
            <%= @accent.heibans.count %>
          <% else %>
            平板型 <%= @accent.heibans.count%>
          <% end %>
        </li>
      </ul>
    </div>
  
  </div>
  
  <div class="show-comments">
    <div class="comment-title">
      コメント
    </div>
    <% if user_signed_in? %>
      <%= form_with model: [@accent, @comment], class: "comment-form", local: true do |f| %>
        <%= f.text_area :comment, class: "comment-text", rows: "3", maxlength: "200" %>
        <%= f.submit "コメントする", class: "comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
    <% end %>
    <ul class="comments">
      <% @comments.each do |comment| %>
        <li class="comment">
          <%= comment.user.nickname %>(<%= l comment.created_at %>)
          <p><%= comment.comment %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>