<%= render "shared/header" %>

<div class="show-contents">
  
  <div class="show-main-contents">
    <div class="word">
      <div class="show-word-pattern">
        <%= @accent.part_of_speech.name %>
      </div>
      <div class="show-accent-word">
      <!-- 登録された情報によって下り目の位置を決める -->
        <% if @accent.accent_pattern_id == 2 %>
          <%= @accent.word_kana.insert( 1, '＼') %>
        <% elsif @accent.accent_pattern_id == 3 %>
          <%= @accent.word_kana.insert( @accent.beat_count_id, '＼') %>
        <% elsif @accent.accent_pattern_id == 4 %>
          <%= @accent.word_kana.insert( @accent.word_kana.length, '＼') %>
        <% elsif @accent.accent_pattern_id == 5 %>
          <%= @accent.word_kana.insert( @accent.word_kana.length, '￣')%>
        <% end %>
      <!-- /登録された情報によって下り目の位置を決める -->
        <button class="edit-btn">編集</button>
        <!--<span class="report-btn">通報</span>-->
      </div>
      <div class="show-word">
        （<%= @accent.word %>）
      </div>
    </div>
  
    <div class="show-accent">
      <div class="show-accent-title">
        アクセントの型
      </div>
      <div class="accent-pattern">
        <%= @accent.accent_pattern.name%>
      </div>
    </div>

    <div class="show-info">
      <div class="show-info-title">
        情報源
      </div>
      <div class="info">
        <%= @accent.info %>
      </div>
    </div>

    <div class="use-examle"><%# ←このクラス必要ない？ %>
      <div class="use-example-pattern">
        他の使用例
      </div>
      <ul class="pattern-lists">
        <li class="pattern-list", id="atamadaka-<%= @accent.id %>">
          <%= render partial: "atamadakas/atamadaka", locals: { accent: @accent, atamadakas: @atamadakas } %>
        </li>
        <li class="pattern-list">中高型 0</li>
        <li class="pattern-list">尾高型 0</li>
        <li class="pattern-list">平板型 0</li>
      </ul>
    </div>
  
  </div>
  
  <div class="show-comments">
    <div class="comment-title">
      コメント
    </div>
    <% if user_signed_in? %>
      <%= form_with model: [@accent, @comment], class: "comment-form", local: true do |f| %>
        <%= f.text_area :comment, class: "comment-text", rows: "3", maxlength: "200" %>
        <%= f.submit "コメントする", class: "comment-btn" %>
      <% end %>
    <% else %>
      <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
    <% end %>
    <ul class="comments">
      <% @comments.each do |comment| %>
        <li class="comment">
          <%= comment.user.nickname %>：<%= comment.comment %>
        </li>
      <% end %>
    </ul>
  </div>
</div>