<div class="log-in">
  <%= link_to "Accent辞典", root_path, class: "accent-title-session"%>

  <div class="log-in-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="log-in-title">
        ログイン
      </div>
      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="field">
        <div class="field-label">
          <%= f.label :email %>
          <span class="indispensable">*</span>
        </div>
        <div>
          <%= f.email_field :email, class: "field-input", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="field">
        <div class="field-label">
          <%= f.label :password %>
          <span class="indispensable">*</span>
        </div>
        <div>
          <%= f.password_field :password, class: "field-input", autocomplete: "current-password" %>
        </div>
      </div>

      <!-- パスワードを忘れたとき
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      -->

      <div class="actions">
        <%= f.submit "ログイン", class: "session-btn"%>
      </div>
    <% end %>
  </div>
</div>

